<!DOCTYPE html>
<html>
<head>
  <title>Conferencecaller</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "jquery.gritter.css", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.gritter.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<p><center><%=image_tag "voxeo_labs_logo.png"%></center></p>
	<br />
	<div class="hero-unit">

<%= yield %>

	</div>
</div>

</body>
</html>

